DATABASE_URL="postgresql://..."
CLIENT_URL="http://localhost:5173"
SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
SLACK_SIGNING_SECRET=""
SLACK_REDIRECT_URI="https://your-public-url/api/slack/oauth/callback"
